@import '../../shared/styles/colors';
@import '../../shared/styles/dimensions';
@import '../../shared/styles/fonts';

// TODO: put this into dimensions
$mobile-head-margin: 16px;

.sc-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo-secondary {
    z-index: 1;
    padding-top: $mobile-head-margin;
    padding-bottom: $mobile-head-margin;
    width: 36px; //TODO: maybe change this somehow
  }

  &__user-icon {
    z-index: 1;
  }

  // TODO: dimensions
  &__user-menu {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 180px;
    z-index: 3;
    font: $font-sc-input-2;
    color: $color-text-dark;
    background-color: $color-background-light;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    transform-origin: top right;
  }

  // TODO: dimensions
  &__user-menu-option {
    padding: 8px 10px;
    &:hover {
      background-color: darken($color-background-light, 10%);
    }
  }

  &__user-menu-hack {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    width: 98vw;
    height: 98vh;
    background: transparent;
  }
}
