# IDE / Editors
.idea/
.vscode/

# Git
.git/
.gitignore
.gitkeep
.gitlab-ci.yml
.travis.yml

docker/
Dockerfile
.dockerignore
logs/
venv/
__pycache__/
docs/
scripts/
.env
*.sock
*.pid

!docker/docker-entrypoint.sh
!docker/templates
!docker/test/.env