aniso8601==4.0.1
Click==7.0
dnspython==1.16.0
email-validator==1.0.3
flasgger==0.9.2
Flask==1.0.2
Flask-Cors==3.0.7
Flask-RESTful==0.3.7
Flask-SQLAlchemy==2.3.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
jsonschema==2.6.0
MarkupSafe==1.1.0
mistune==0.8.4
PyJWT==1.7.1
PyMySQL==0.9.3
python-dotenv==0.10.1
python-simplexml==0.1.5
pytz==2018.9
PyYAML==3.13
six==1.12.0
SQLAlchemy==1.2.15
uWSGI==2.0.17.1
Werkzeug==0.14.1

#flask
#flask-restful
#flasgger
#flask-sqlalchemy
#pyjwt
#python-simplexml
#pymysql
#python-dotenv
#flask-cors
#email_validator
#uwsgi
#factory_boy

#alembic
#pytest-cov
