@import '../../shared/styles/colors';
@import '../../shared/styles/fonts';

.arty-headline {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font: $font-sc-hero;
  text-align: center;
  color: $color-text-dark;
  position: relative;

  &__background-art {
    width: 100%;
    z-index: 0;
  }

  &__text {
    z-index: 1;
    position: absolute;
    padding: 0 10% 0 10%;
  }
}
