@import '../../shared/styles/colors';
@import '../../shared/styles/fonts';

.arty-headline {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font: $font-sc-hero;
  text-align: center;
  color: $color-text-dark;
  background-size: cover;

  &__background-art {
    position: absolute;
    width: 100%;
    z-index: 0;
  }

  &__text {
    z-index: 1;
    align-self: center;
  }
}
