.coffee-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.pulse-svg {
  overflow: visible;
  .first-circle {
    fill: #997055;
    transform: scale(0.5);
    transform-origin: center center;
    animation: pulse-me 3s linear infinite;
  }
  .second-circle {
    @extend .first-circle;
    animation-delay: 1s;
  }
  .third-circle {
    @extend .first-circle;
    animation-delay: 2s;
  }
}

@keyframes pulse-me {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  70% {
    opacity: 0.09;
  }
  100% {
    transform: scale(8);
    opacity: 0;
  }
}
