@import '../../shared/styles/colors';
@import '../../shared/styles/dimensions';
@import '../../shared/styles/fonts';

.hot-water {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $color-background-light;
}
