@import '../../shared/styles/colors';
@import '../../shared/styles/dimensions';
@import '../../shared/styles/fonts';


.coffee-machine-info {
  text-align: center;
  font: $font-sc-hero;
  color: $color-text-dark;

  &__machine-picker {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__arrow-down {
    margin-left: 10px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid $color-text-dark;
  }

  &__machine-dropdown {
    position: absolute;
    overflow: auto;
    top: $font-lnheight-hero;
    width: 100%;
    padding: 4% 0;
    z-index: 3;
    color: $color-text-dark;
    text-align: left;
    background-color: $color-background-light;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  }

  &__coffee-details {
    position: absolute;
    display: flex;
    flex-direction: column;
    font: $font-sc-input-2;
    color: $color-text-dark;
    overflow: auto;
    width: 80%;
    padding: 2% 0;
    z-index: 3;
    text-align: left;
    background-color: $color-background-light;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  }

  &__coffee-details-label {
    margin: 0 3%;
    width: 60px;
    display: inline-block;
    font-weight: bold;
  }

  &__dropdown-headline {
    font: $font-sc-input-2;
    color: rgba($color-text-dark, 0.7);
    white-space: nowrap;
    padding: 1% 4%;
  }

  &__dropdown-option {
    display: flex;
    align-content: center;
    border-radius: 5px;
    font: $font-sc-input-2;
    margin: 1% 2%;
    padding: 2% 2%;

    &:hover {
      background-color: darken($color-background-light, 10%);
    }
  }

  &__coffee-machine-icon {
    margin-right: 2%;
  }

  &__machine-fill-indicators {
    position: relative;
    display: flex;
    justify-content: space-evenly;
  }

  &__machine-dropdown-hack, &__coffee-details-hack {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: transparent;
    width: 100vw;
    height: 100vh;
  }
}
