<app-coffee-loader *ngIf="detailsLoading"></app-coffee-loader>
<div class="coffee-machine-info" *ngIf="!detailsLoading">
  <div class="coffee-machine-info__machine-picker">
    <span class="coffee-machine-info__machine-name" (click)="toggleMachinePicker()">{{coffeeMachineDetails.name}}</span>
    <span class="coffee-machine-info__arrow-down" (click)="toggleMachinePicker()"></span>
    <div class="coffee-machine-info__machine-dropdown" [@showHide]="showMachineDropdown ? 'show' : 'hide'">
      <div class="coffee-machine-info__dropdown-headline">Wähle eine andere Kaffeemaschine</div>
      <div class="coffee-machine-info__dropdown-option" *ngFor="let coffeeMachine of coffeeMachines" (click)="initCoffeeMachineDetails(coffeeMachine)" (click)="toggleMachinePicker()">
        <img class="coffee-machine-info__coffee-machine-icon" alt="coffee-machine" src="../../../assets/icons/24/Coffeemaker/Dark.svg"/>
        <span>{{coffeeMachine.name}}</span>
      </div>
    </div>
  </div>
  <div class="coffee-machine-info__machine-fill-indicators" (click)="toggleCoffeeDetails()">
    <div class="coffee-machine-info__coffee-details" [@showHide]="showCoffeeDetails ? 'show' : 'hide'">
      <div>
        <span class="coffee-machine-info__coffee-details-label">Preis:</span>
        <span class="coffee-machine-info__coffee-details-text">{{coffeeMachineDetails.pricePerCoffeeInCents}} Cent pro Tasse</span>
      </div>
      <div>
        <span class="coffee-machine-info__coffee-details-label">Marke:</span>
        <span class="coffee-machine-info__coffee-details-text">{{coffeeMachineDetails.coffeeBrand}}</span>
      </div>
      <div>
        <span class="coffee-machine-info__coffee-details-label">Bohnen:</span>
        <span class="coffee-machine-info__coffee-details-text">{{coffeeMachineDetails.coffeeType}}</span>
      </div>
    </div>
    <app-radial-progress [type]="'coffee'" [width]="100" [progress]="coffeeMachineDetails.coffeeLevel" [iconSource]="'../../../assets/icons/24/Coffeebean/Dark.svg'"></app-radial-progress>
    <app-radial-progress [type]="'water'" [width]="100" [progress]="coffeeMachineDetails.waterLevel" [iconSource]="'../../../assets/icons/24/Drop/Dark.svg'"></app-radial-progress>
    <app-radial-progress [type]="'trash'" [width]="100" [progress]="coffeeMachineDetails.trashLevel" [iconSource]="'../../../assets/icons/24/Trash/Dark.svg'"></app-radial-progress>
  </div>
  <div class="coffee-machine-info__machine-dropdown-hack" [@showHide]="showMachineDropdown ? 'show' : 'hide'" (click)="toggleMachinePicker()"></div>
  <div class="coffee-machine-info__coffee-details-hack" [@showHide]="showCoffeeDetails ? 'show' : 'hide'" (click)="toggleCoffeeDetails()"></div>
</div>
<app-sc-modal *ngIf="showNotificationModal" [type]="modalType" [messages]="modalMessages" (click)="showNotificationModal = false"></app-sc-modal>
