<div class="coffee-machine-info">
  <div class="coffee-machine-info__machine-picker">
    <span class="coffee-machine-info__machine-name" (click)="toggleMenu()">Winston</span>
    <span class="coffee-machine-info__arrow-down" (click)="toggleMenu()"></span>
    <div class="coffee-machine-info__machine-dropdown" [@showHide]="showMenu ? 'show' : 'hide'">
      <div class="coffee-machine-info__dropdown-headline">Kaffeemaschinen in meiner Nähe:</div>
      <div class="coffee-machine-info__dropdown-option">Winston</div>
      <div class="coffee-machine-info__dropdown-option">Reinhart</div>
    </div>
  </div>
  <div class="coffee-machine-info__machine-fill-indicators">
    <app-radial-progress type="coffee" width="100" progress="90" iconSource="../../../assets/icons/24/Coffeebean/Dark.svg"></app-radial-progress>
    <app-radial-progress type="water" width="100" progress="73" iconSource="../../../assets/icons/24/Drop/Dark.svg"></app-radial-progress>
    <app-radial-progress type="trash" width="100" progress="20" iconSource="../../../assets/icons/24/Trash/Dark.svg"></app-radial-progress>
  </div>
  <div class="coffee-machine-info__machine-dropdown-hack" [@showHide]="showMenu ? 'show' : 'hide'" (click)="toggleMenu()"></div>
</div>
