@import '../../shared/styles/colors';
@import '../../shared/styles/dimensions';
@import '../../shared/styles/fonts';


.coffee-machine-info {
  text-align: center;
  font: $font-sc-hero;
  color: $color-text-dark;

  &__machine-picker {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__arrow-down {
    margin-left: 10px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid $color-text-dark;
  }

  &__machine-dropdown {
    position: absolute;
    top: $font-lnheight-hero;
    padding: 2%;
    z-index: 3;
    color: $color-text-dark;
    text-align: left;
    background-color: $color-background-light;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  }

  &__dropdown-headline {
    font: $font-sc-paragraph;
  }

  &__dropdown-option {
    font: $font-sc-input-2;

    &:hover {
      background-color: darken($color-background-light, 10%);
    }
  }

  &__machine-fill-indicators {
    display: flex;
    justify-content: space-evenly;
  }

  &__machine-dropdown-hack {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: transparent;
    width: 100vw;
    height: 100vh;
  }
}
