@import '../../shared/styles/colors';
@import '../../shared/styles/dimensions';
@import '../../shared/styles/fonts';

.sign-in {
  min-height: 100%;
  display: grid;
  grid-template-columns: $mobile-side-margin 1fr 1fr $mobile-side-margin;
  grid-template-rows: auto 1fr auto;
  grid-auto-flow: column;
  grid-template-areas:
    "headline headline headline headline"
    ". form form ."
    ". forgotpw signin .";
  background-color: $color-background-light;

  &__arty-headline-component {
    grid-area: headline;
  }

  &__form {
    grid-area: form;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__forgot-pw-link, &__sign-in-button {
    padding-bottom: $mobile-bottom-cta-padding;
  }

  &__forgot-pw-link {
    grid-area: forgotpw;
    font: $font-sc-link-2;
    color: $color-link;
    text-align: center;
    align-self: center;

    &:hover {
      cursor: pointer;
    }
  }

  &__sign-in-button {
    grid-area: signin;
  }
}
