<div class="sign-in" (swiperight)="onSwipeRight()">
  <app-arty-headline class="sign-in__arty-headline-component" text="Anmelden" artSource="../../../assets/backgrounds/bg-art-headline.svg"></app-arty-headline>
  <form class="sign-in__form">
    <!-- Username -->
    <app-form-text-input label="Benutzername" name="username" type="text"></app-form-text-input>
    <!-- Password -->
    <app-form-text-input label="Passwort" name="password" type="password"></app-form-text-input>
  </form>
  <div class="sign-in__forgot-pw-link" (click)="recoverPassword()">
    Passwort vergessen?
  </div>
  <app-button class="sign-in__sign-in-button" label="Anmelden" type="default" (click)="signIn()"></app-button>
</div>
