@import '../../shared/styles/colors';
@import '../../shared/styles/dimensions';
@import '../../shared/styles/fonts';

.sign-in-container {
  height: 100%;
  display: grid;
  grid-template-columns: $mobile-side-margin auto $mobile-side-margin;
  grid-template-rows: 1fr 3fr 1fr;
  grid-auto-flow: column;
  grid-template-areas:
    "headline headline headline"
    ". form ."
    ". cta .";
  background-color: $color-background-light;

  &__headline {
    grid-area: headline;
    display: flex;
    justify-content: center;
    align-items: center;
    font: $font-sc-hero;
    text-align: center;
    color: $color-text-dark;
    background-size: cover;
    background: url('../../../assets/backgrounds/bg-art-headline.svg') no-repeat;
  }

  &__form {
    grid-area: form;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__cta {
    grid-area: cta;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__forgot-pw {
    width: 180px;
    font: $font-sc-link-2;
    color: $color-link;
    text-align: center;
  }
}
