@import '../../shared/styles/colors';

.splash-container {
  background: $color-primary url('../../../assets/backgrounds/bg-pattern.svg') repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
