<div class="sc-range-input">
  <label for="{{name}}">{{label}}</label>
  <div class="sc-range-input__layout-container">
    <img class="sc-range-input__range-icon" src="{{startIconSource}}"/>
    <div class="sc-range-input__range-wrapper sc-range-input__range-wrapper--{{type}}">
      <input class="sc-range-input__input" id="{{name}}" min="{{minVal}}" max="{{maxVal}}" [(ngModel)]="localValue" (ngModelChange)="rangeValChanged($event)" type="range">
    </div>
    <img class="sc-range-input__range-icon" src="{{endIconSource}}"/>
    <span class="sc-range-input__range-value-text">{{value}}{{unit}}</span>
  </div>
</div>
