<div class="sc-range-input">
  <label for="{{name}}">{{label}}</label>
  <div class="sc-range-input__layout-container">
    <img class="sc-range-input__range-icon" src="{{startIconSource}}"/>
    <div class="sc-range-input__range-wrapper sc-range-input__range-wrapper--{{type}}">
      <nfc-range-input
        *ngIf="viewInitialized"
        class="sc-range-input__input"
        id="{{name}}"
        [defaultRange]="localValue"
        [min]="minVal"
        [max]="maxVal"
        [highlightBarCssClass]="highlighterBarClass"
        [sliderButtonCssClass]="'sc-range-input__slider-button'"
        (rangeChange)="rangeValChanged($event)"
        [(ngModel)]="range"
      >
      </nfc-range-input>
    </div>
    <img class="sc-range-input__range-icon" src="{{endIconSource}}"/>
    <span class="sc-range-input__range-value-text">{{value}}{{unit}}</span>
  </div>
</div>
