@import '../../shared/styles/colors';
@import '../../shared/styles/dimensions';
@import '../../shared/styles/fonts';


.sc-range-input {
  font: $font-sc-input-2;
  padding: 4% 0;
  &__layout-container {
    margin-top: 2%;
    display: flex;
    align-items: center;
  }

  &__range-wrapper {
    flex-grow: 100;
    display: flex;
    //align-items: center;
    //margin: 0 3%;
  }

  &__range-value-text {
    margin-left: 3%;
    border: 1px solid $color-text-dark;
    border-radius: 500px;
    width: 42px;
    height: $font-lnheight-input-2;
    padding: 0 10px;
    text-align: center;
    background-color: $color-primary;
  }

  &__input {
    width: 100%;
  }


  &__highlighter-bar--coffee {
    background: -moz-linear-gradient(left, $color-gradient-coffee-start 0%, $color-gradient-coffee-end 100%);
    background: -webkit-linear-gradient(left, $color-gradient-coffee-start 0%,$color-gradient-coffee-end 100%);
    background: linear-gradient(to right, $color-gradient-coffee-start 0%,$color-gradient-coffee-end 100%);
  }



  &__highlighter-bar--water {
    background: -moz-linear-gradient(left, $color-gradient-water-start 0%, $color-gradient-water-end 100%);
    background: -webkit-linear-gradient(left, $color-gradient-water-start 0%,$color-gradient-water-end 100%);
    background: linear-gradient(to right, $color-gradient-water-start 0%,$color-gradient-water-end 100%);
  }

  &__slider-button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    cursor: pointer;
  }
}
