<div class="sc-range-input">
  <label for="coffee-concentration">Kaffekonzentration</label>
  <div class="sc-range-input__layout-container">
    <img class="sc-range-input__range-icon" alt="coffee-bean" src="../../../assets/icons/24/Coffeebean/Dark.svg"/>
    <div class="sc-range-input__range-wrapper">
      <input class="sc-range-input__range-input" id="coffee-concentration" type="range">
    </div>
    <img class="sc-range-input__range-icon" alt="coffee-beans" src="../../../assets/icons/24/Coffeebeans/Dark.svg"/>
    <span class="sc-range-input__range-value-text">1%</span>
  </div>
</div>
