# IDE / Editors
.idea/
.vscode/

# Git
.git/
.gitignore
.gitkeep
.gitlab-ci.yml


docker/
Dockerfile
.dockerignore
!docker/docker-entrypoint.sh
logs/
venv/
__pycache__/
docs/
scripts/
.env
*.sock
*.pid