<div class="coffee-preferences">
  <app-header class="coffee-preferences__header"></app-header>
  <app-arty-headline class="coffee-preferences__text-headline" text="{{headerText}}" artSource="../../../assets/backgrounds/bg-art-coffee-preferences.svg"></app-arty-headline>
  <form class="coffee-preferences__form">
    <div class="coffee-preferences__form-headline">
      Präferenzen einstellen
    </div>
    <app-form-range-input
      name="coffee-preferences"
      label="Kaffeekonzentration"
      type="coffee"
      value="{{coffeeVal}}"
      startIconSource="../../../assets/icons/24/Coffeebean/Dark.svg"
      endIconSource="../../../assets/icons/24/Coffeebeans/Dark.svg"
      (rangeChange)="onRangeChange($event)"
    ></app-form-range-input>
    <app-form-range-input
      name="water-preferences"
      label="Wassermenge {{waterRangeLabel}}"
      type="water"
      value="{{waterVal}}"
      startIconSource="../../../assets/icons/24/Drop/Dark.svg"
      endIconSource="../../../assets/icons/24/Drops/Dark.svg"
      (rangeChange)="onRangeChange($event)"
    ></app-form-range-input>
    <div class="coffee-preferences__profile-input-container">
      <div class="coffee-preferences__coffee-profile-label">
        <span class="coffee-preferences__coffee-profile-text">Kaffeeprofil</span>
        <span class="coffee-preferences__coffee-profile-add-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" fill="#57565c"></path>
            <path d="M0 0h24v24H0z" fill="none"></path>
          </svg>
        </span>
      </div>
      <div class="coffee-preferences__profile-picker coffee-preferences__profile-picker--{{profilePickerOpen}}">
        <div class="coffee-preferences__selected-profile coffee-preferences__selected-profile--{{profilePickerOpen}}">
          <span>{{selectedProfile.name}}</span>
          <span (click)="toggleProfilePicker()"
                class="coffee-preferences__dropdown-activator coffee-preferences__dropdown-activator--{{profilePickerOpen}}">
          </span>
        </div>
        <div class="coffee-preferences__profile-option-wrapper" *ngIf="profilePickerOpen === 'open'">
          <div *ngFor="let profile of coffeeProfiles; last as isLast" (click)="selectProfile(profile)">
            <div class="coffee-preferences__profile-option">{{profile.name}}</div>
            <div *ngIf="!isLast" class="coffee-preferences__profile-option-divider"></div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="coffee-preferences__start-button">
    <svg width="72px" height="93px" viewBox="0 0 72 93" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Smart-Coffee-Mobile" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Brew-Option---Dropdown-Default" transform="translate(-152.000000, -552.000000)">
          <g id="Coffee-Cup" transform="translate(152.000000, 552.000000)">
            <path d="M0,7.10542736e-15 L72,7.10542736e-15 L64,88 C54.8907701,91.3309518 45.5574368,92.9964277 36,92.9964277 C26.4425632,92.9964277 17.1092299,91.3309518 8,88 L0,7.10542736e-15 Z" id="Rectangle" fill="#57565C"></path>
            <path d="M5,8 C9.24804252,9.07608315 13.5029445,9.61412472 17.7647059,9.61412472 C24.157348,9.61412472 34.3442683,8.72632853 37.9913271,8.72632853 C41.6383859,8.72632853 52.5972399,11.1887681 56.5742193,11.1887681 C59.2255388,11.1887681 62.7007991,10.1258454 67,8 L60.1111111,83.7777778 C52.267052,86.6460974 44.230015,88.0802572 36,88.0802572 C27.769985,88.0802572 19.732948,86.6460974 11.8888889,83.7777778 L5,8 Z" id="Rectangle" fill="#997055"></path>
            <path d="M2.90507507,32 C13.9366201,33.6819345 24.9681651,34.5229017 35.9997101,34.5229017 C47.0312551,34.5229017 58.0628001,33.6819345 69.0943451,32 L66.1843719,64 C56.1652038,66.6300266 46.1036498,67.9450399 35.9997101,67.9450399 C25.8957704,67.9450399 15.8341859,66.6300266 5.81495667,64 L2.90507507,32 Z" id="Rectangle" fill="#F8E8D4"></path>
            <text id="Start" font-family="Lobster-Regular, Lobster" font-size="23" font-weight="normal" line-spacing="37" fill="#57565C">
              <tspan x="12.8275" y="58">Start</tspan>
            </text>
          </g>
        </g>
      </g>
    </svg>
  </div>
</div>
