<div class="coffee-preferences">
  <app-header class="coffee-preferences__header"></app-header>
  <app-arty-headline class="coffee-preferences__text-headline" text="Eine Tasse" artSource="../../../assets/backgrounds/bg-art-coffee-preferences.svg"></app-arty-headline>
  <form class="coffee-preferences__form">
    <div class="coffee-preferences__form-headline">
      Präferenzen einstellen
    </div>
    <app-form-range-input></app-form-range-input>
    <app-form-range-input></app-form-range-input>
    <div class="coffee-preferences__coffee-profile">
      Kaffeeprofil
    </div>
  </form>
  <div class="coffee-preferences__start-button">
    start button
  </div>
</div>
