@import '../../shared/styles/colors';
@import '../../shared/styles/dimensions';
@import '../../shared/styles/fonts';

.coffee-preferences {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: $mobile-side-margin 1fr $mobile-side-margin;
  grid-template-rows: auto auto 1fr auto;
  grid-auto-flow: column;
  grid-template-areas:
    ". header ."
    "texthead texthead  texthead"
    ". form ."
    ". btn .";
  background-color: $color-background-light;
  overflow: auto;
  &__header {
    grid-area: header;
  }

  &__text-headline {
    grid-area: texthead;
  }

  &__form {
    grid-area: form;
    font: $font-sc-input-2;
    color: $color-text-dark;
    padding: 0 5%;
  }

  &__form-headline {
    font: $font-sc-paragraph;
    text-align: center;
    padding: 9% 0;
  }

  &__profile-input-container {
    padding: 4% 0;
  }

  &__coffee-profile-label {
    display: flex;
    justify-content: space-between;
  }

  &__coffee-profile-text, &__coffee-profile-add-icon {
    display: inline-block;
  }

  &__profile-picker {
    margin-top: 2%;
    border: 1px solid $color-text-dark;
    color: $color-text-dark;

    &--open {
      border-radius: 17.5px;
    }

    &--closed {
      border-radius: 500px;
    }
  }

  &__selected-profile {
    padding: 0 2px 0 4%;
    font: $font-sc-input-1;
    border-top-left-radius: 17.5px;
    border-top-right-radius: 17.5px;;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__selected-profile--open {
    border-bottom: 1px solid $color-text-dark;
    background-color: $color-primary;
  }

  &__profile-option-wrapper {
    max-height: 160px;
    overflow-y: auto;
  }

  &__profile-option {
    padding-left: 4%;
    font: $font-sc-input-1;
  }

  &__profile-option-divider {
    border-bottom: 1px solid $color-text-dark;
  }

  &__dropdown-activator {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 28px;
    height: 28px;
    background: $color-primary;
    border: 1px solid $color-text-dark;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    transform-origin: center;
    &:after {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      border: 5px solid transparent;
      border-bottom: 5px solid $color-text-dark;
      transform: translateX(-50%) translateY(-85%);
    }
  }

  &__dropdown-activator--closed {
    transform: rotate(180deg);
    background: $color-primary;
  }

  &__dropdown-activator--open {
    transform: rotate(0);
    background: $color-background-light;
  }

  &__edit-profile-modal {
    position: absolute;
    font: $font-sc-input-2;
    color: $color-text-dark;
    overflow: auto;
    width: 95vw;
    height: 40vh;
    z-index: 3;
    background-color: $color-background-light;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    display: flex;
    align-items: center;
  }

  &__edit-profile-prompt, &__edit-profile-new {
    padding: 2vh 4vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
  }

  &__edit-profile-cta {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  &__start-button {
    grid-area: btn;
    justify-self: center;
    padding: 5% 0;
  }

  &__edit-profile-modal-hack {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: transparent;
    width: 100vw;
    height: 100vh;
  }

  &--blurred {
    transition: 0.2s ease-in-out;
    filter: blur(3px)
  }
}

