<div class="welcome-container">
  <div class="welcome-container__art">
    <img alt="background" id="background-art" src="../../../assets/backgrounds/bg-art-welcome.svg">
    <img alt="coffee-machine" id="coffee-machine" src="../../../assets/pictograms/coffee-machine-single.svg">
  </div>
  <div class="welcome-container__text">
    Machen Sie Ihren Morgen smart!
  </div>
  <div class="welcome-container__cta">
    <app-button label="Registrieren" type="ghost" (click)="navigateToSignUp($event)"></app-button>
    <app-button label="Anmelden" type="default" (click)="navigateToSignIn($event)"></app-button>
  </div>
</div>
