@import '../../shared/styles/colors';
@import '../../shared/styles/dimensions';
@import '../../shared/styles/fonts';

.welcome-container {
  height: 100%;
  display: grid;
  grid-template-columns: $mobile-side-margin auto $mobile-side-margin;
  grid-template-rows: 3.2fr 2fr 0.8fr;
  grid-auto-flow: column;
  grid-template-areas:
    "art art art"
    ". text ."
    ". cta .";
  background-color: $color-background-light;

  &__art {
    grid-area: art;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text {
    grid-area: text;
    display: flex;
    justify-content: center;
    align-items: center;
    font: $font-sc-hero;
    text-align: center;
    color: $color-text-dark;
    z-index: 1;
  }

  &__cta {
    grid-area: cta;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
}

#background-art {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}

#coffee-machine {
  z-index: 1;
}
