<div class="welcome">
  <div class="welcome__art">
    <img alt="background" class="welcome__background-art" src="../../../assets/backgrounds/bg-art-welcome.svg">
    <img alt="coffee-machine" class="welcome__coffee-machine" src="../../../assets/pictograms/coffee-machine-single.svg">
  </div>
  <div class="welcome__text">
    Mach deinen Morgen smart!
  </div>
  <app-button class="welcome__sign-up-button" [label]="'Registrieren'" [type]="'ghost'" [enabled]="true" (click)="navigateToSignUp()"></app-button>
  <app-button class="welcome__sign-in-button" [label]="'Anmelden'" [type]="'default'" [enabled]="true" (click)="navigateToSignIn()"></app-button>
</div>
