<div class="welcome-container">
  <div class="welcome-container__art">
    <svg id="background-art" viewBox="0 0 375 330" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none">
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(0.000000, -30.000000)" fill="#F8E8D4">
          <path d="M0,95.467325 C33.9981244,68.3083012 85.9570229,47.7788961 155.876695,33.8791097 C241.719874,18.139678 314.760975,50.297134 375,130.351478 L375,323.764075 C277.069796,356.648515 152.069796,367.021019 0,354.881586 C6.0333502e-13,294.96945 6.0333502e-13,208.498029 0,95.467325 Z" id="bg"></path>
        </g>
      </g>
    </svg>
    <img id="coffee-machine" src="../../../assets/pictograms/coffee-machine-single.svg">
  </div>
  <div class="welcome-container__text">
    Machen Sie Ihren Morgen smart!
  </div>
  <div class="welcome-container__cta">
    <app-button label="Registrieren" type="ghost"></app-button>
    <app-button label="Anmelden" type="default"></app-button>
  </div>
</div>
