@import '../../shared/styles/colors';
@import '../../shared/styles/dimensions';
@import '../../shared/styles/fonts';

.welcome {
  height: 100%;
  display: grid;
  grid-template-columns: $mobile-side-margin 1fr 1fr $mobile-side-margin;
  grid-auto-flow: column;
  grid-template-areas:
    "art art art art"
    ". text text ."
    ". signup signin .";
  background-color: $color-background-light;

  &__art {
    grid-area: art;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__background-art {
    position: absolute;
    width: 100%;
    z-index: 0;
  }

  &__coffee-machine {
    z-index: 1;
  }

  &__text {
    grid-area: text;
    display: flex;
    justify-content: center;
    align-items: center;
    font: $font-sc-hero;
    text-align: center;
    color: $color-text-dark;
    z-index: 1;
  }

  &__sign-in-button, &__sign-up-button {
    padding-bottom: $mobile-bottom-cta-padding;
    align-self: end;
    justify-self: center;
    z-index: 1;
  }

  &__sign-up-button {
    grid-area: signup;
  }

  &__sign-in-button {
    grid-area: signin;
  }
}
