<div class="account-settings" (swiperight)="onSwipeRight()">
  <app-arty-headline class="account-settings__arty-headline-component" [text]="'Einstellungen'" [artSource]="'../../../assets/backgrounds/bg-art-headline.svg'"></app-arty-headline>
  <form class="account-settings__form">
    <!-- Username -->
    <app-form-text-input [label]="'Benutzername'" [name]="'username'" [type]="'text'" (typed)="onTyped($event)"></app-form-text-input>
    <!-- Email -->
    <app-form-text-input [label]="'Email Adresse'" [name]="'email'" [type]="'email'" (typed)="onTyped($event)"></app-form-text-input>
    <!-- Old Password -->
    <app-form-text-input [label]="'Altes Passwort'" [name]="'oldPassword'" [type]="'password'" (typed)="onTyped($event)"></app-form-text-input>
    <!-- New Password -->
    <app-form-text-input [label]="'Neues Passwort'" [name]="'newPassword'" [type]="'password'" (typed)="onTyped($event)"></app-form-text-input>
    <!-- New Password confirm -->
    <app-form-text-input [label]="'Passwortbestätigung'" [name]="'newPasswordConfirm'" [type]="'password'" (typed)="onTyped($event)"></app-form-text-input>
  </form>

  <app-button class="account-settings__cancel-button" [label]="'Abbrechen'" [type]="'ghost'" [enabled]="true" (click)="goBack()"></app-button>
  <app-button class="account-settings__change-button" [label]="'Ändern'" [type]="'default'" [enabled]="true" (click)="editUser()"></app-button>
</div>
