@import '../../shared/styles/colors';
@import '../../shared/styles/dimensions';
@import '../../shared/styles/fonts';

.account-settings {
  height: 100%;
  display: grid;
  grid-template-columns: $mobile-side-margin 1fr 1fr $mobile-side-margin;
  grid-template-rows: auto 1fr auto;
  grid-auto-flow: column;
  grid-template-areas:
    "headline headline headline headline"
    ". form form ."
    ". cancel change .";
  background-color: $color-background-light;
  overflow-y: auto;

  &__arty-headline-component {
    grid-area: headline;
  }

  &__form {
    grid-area: form;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__cancel-button, &__change-button  {
    padding-bottom: $mobile-bottom-cta-padding;
    align-self: center;
    justify-self: center;
  }

  &__cancel-button {
    grid-area: cancel;
  }

  &__change-button {
    grid-area: change;
  }
}
