@import '../../shared/styles/colors';
@import '../../shared/styles/dimensions';
@import '../../shared/styles/fonts';

.sign-up-container {
  height: 100%;
  display: grid;
  grid-template-columns: $mobile-side-margin auto $mobile-side-margin;
  grid-auto-flow: column;
  grid-template-areas:
    "headline headline headline"
    ". form ."
    ". cta .";
  background-color: $color-background-light;

  &__headline {
    grid-area: headline;
    display: flex;
    justify-content: center;
    align-items: center;
    font: $font-sc-hero;
    text-align: center;
    color: $color-text-dark;
    background-size: cover;
  }

  &__background-art {
    position: absolute;
    width: 100%;
    z-index: 0;
  }

  &__headline-text {
    z-index: 1;
  }

  &__form {
    grid-area: form;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__cta {
    grid-area: cta;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__log-in {
    font: $font-sc-link-2;
    color: $color-link;
    text-align: center;

    &:hover {
      cursor: pointer;
    }
  }
}
