<div class="sign-up" (swiperight)="onSwipeRight()">
  <app-arty-headline class="sign-up__arty-headline-component" [text]="'Account erstellen'" [artSource]="'../../../assets/backgrounds/bg-art-headline.svg'"></app-arty-headline>
  <form class="sign-up__form">
    <!-- Username -->
    <app-form-text-input [label]="'Benutzername'" [name]="'username'" [type]="'text'" (typed)="onTyped($event)"></app-form-text-input>
    <!-- Email -->
    <app-form-text-input [label]="'Email Adresse'" [name]="'email'" [type]="'email'" (typed)="onTyped($event)"></app-form-text-input>
    <!-- Password -->
    <app-form-text-input [label]="'Passwort'" [name]="'password'" [type]="'password'" (typed)="onTyped($event)"></app-form-text-input>
    <!-- Password confirm -->
    <app-form-text-input [label]="'Passwortbestätigung'" [name]="'passwordConfirm'" [type]="'password'" (typed)="onTyped($event)"></app-form-text-input>
  </form>
  <div class="sign-up__log-in-link" (click)="navigateToSignIn()">
    Sie haben bereits einen Account? Hier anmelden
  </div>
  <app-button class="sign-up__sign-up-button" [label]="'Registrieren'" [type]="'default'" [enabled]="true" (click)="signUp()"></app-button>
</div>
