<div class="sign-up">
  <app-arty-headline class="sign-up__arty-headline-component" text="Account erstellen" artSource="../../../assets/backgrounds/bg-art-headline.svg"></app-arty-headline>
  <!-- <div class="sign-up-container__headline">
    <img alt="background" class="sign-up-container__background-art" src="../../../assets/backgrounds/bg-art-headline.svg">
    <div class="sign-up-container__headline-text">Account erstellen</div>
  </div> -->
  <form class="sign-up__form">
    <!-- Username -->
    <app-form-text-input label="Benutzername" name="username" type="text"></app-form-text-input>
    <!-- Email -->
    <app-form-text-input label="Email Adresse" name="email" type="email"></app-form-text-input>
    <!-- Password -->
    <app-form-text-input label="Passwort" name="password" type="password"></app-form-text-input>
    <!-- Password confirm -->
    <app-form-text-input label="Passwortbestätigung" name="passwordConfirm" type="password"></app-form-text-input>
  </form>
  <div class="sign-up__cta">
    <div class="sign-up__log-in" (click)="navigateToSignIn()">
      Sie haben bereits einen Account? Hier anmelden
    </div>
    <app-button label="Registrieren" type="default"></app-button>
  </div>
</div>
