@import '../../shared/styles/colors';
@import '../../shared/styles/dimensions';
@import '../../shared/styles/fonts';

.sign-up {
  min-height: 100%;
  display: grid;
  grid-template-columns: $mobile-side-margin auto $mobile-side-margin;
  grid-auto-flow: column;
  grid-template-areas:
    "headline headline headline"
    ". form ."
    ". cta .";
  background-color: $color-background-light;

  &__arty-headline-component {
    grid-area: headline;
  }

  &__form {
    grid-area: form;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__cta {
    grid-area: cta;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__log-in {
    font: $font-sc-link-2;
    color: $color-link;
    text-align: center;

    &:hover {
      cursor: pointer;
    }
  }
}
