@import '../../shared/styles/colors';
@import '../../shared/styles/dimensions';
@import '../../shared/styles/fonts';

.sign-up {
  min-height: 100%;
  display: grid;
  grid-template-columns: $mobile-side-margin 1fr 1fr $mobile-side-margin;
  grid-template-rows: auto 1fr auto;
  grid-auto-flow: column;
  grid-template-areas:
    "headline headline headline headline"
    ". form form ."
    ". login signup .";
  background-color: $color-background-light;

  &__arty-headline-component {
    grid-area: headline;
  }

  &__form {
    grid-area: form;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__log-in-link, &__sign-up-button {
    padding-bottom: $mobile-bottom-cta-padding;
    align-self: center;
    justify-self: center;
  }

  &__log-in-link {
    grid-area: login;
    font: $font-sc-link-2;
    color: $color-link;
    text-align: center;

    &:hover {
      cursor: pointer;
    }
  }

  &__sign-up-button {
    grid-area: signup;
  }
}
