@import '../../shared/styles/colors';
@import '../../shared/styles/dimensions';
@import '../../shared/styles/fonts';

.coffee-preparation {
  height: 100%;
  width: 100%;
  background-color: $color-background-light;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__bg-art-top-left {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  &__bg-art-bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 0;
  }

  &__progress-info {
    padding: 5vh $mobile-side-margin;
    font: $font-sc-title;
    color: $color-text-dark;
    text-align: center;
  }

  &__cup {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__cup-liquid {
    animation: fill 10.2s infinite;
    animation-fill-mode: forwards;
  }

  &__finish-text {
    padding: 5vh $mobile-side-margin;
    font: $font-sc-paragraph;
    color: $color-text-dark;
    text-align: center;
  }

  &__steam-left, &__steam-mid, &__steam-right {
    transform-origin: center;
    animation: steam 5s infinite ease-in-out;
  }

  &__steam-left {
    animation-delay: 0.3s;
  }
  &__steam-right {
    animation-delay: 0.2s;
  }
}

@keyframes fill {
  0%{
    transform: translateY(100%);
  }
  100%{
    transform: translateY(0);
  }
}

@keyframes steam {
  0%{
    opacity: 0.0;
  }
  50%{
    transform: translateY(-30px);
    opacity: 0.9;
  }
  100% {
    transform: translateY(-30px);
    opacity: 0;
  }
}
