@import '../../shared/styles/colors';
@import '../../shared/styles/fonts';

// TODO: move to dimensions
$width: 300px;

.sc-modal {
  position: fixed;
  width: 300px;
  padding: 5px 15px;
  display: flex;
  bottom: 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  color: $color-text-dark;
  font: $font-sc-input-2;
  animation: showModal 10s forwards;

  &--info {
    border: 2px solid $color-link;
  }

  &--error {
    border: 2px solid $color-error;
  }

  &--warning {
    border: 2px solid $color-warning;
  }
}

@keyframes showModal {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  20% {
    opacity: 1;
    transform: translateY(-30px);
  }

  80% {
    opacity: 1;
    transform: translateY(-30px);
  }

  100% {
    opacity: 0;
    transform: translateY(0);
  }
}
