@import '../../shared/styles/colors';
@import '../../shared/styles/dimensions';
@import '../../shared/styles/fonts';

.account-recovery {
  height: 100%;
  display: grid;
  grid-template-columns: $mobile-side-margin auto $mobile-side-margin;
  grid-auto-flow: column;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "headline headline headline"
    ". form ."
    ". button .";
  background-color: $color-background-light;

  &__arty-headline-component {
    grid-area: headline;
  }

  &__form {
    grid-area: form;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__instructions {
    font: $font-sc-paragraph;
    color: $color-text-dark;
    text-align: center;
    margin-bottom: 15%;
    padding: 0 10% 0 10%;
  }

  &__button {
    grid-area: button;
    justify-self: center;
    padding-bottom: $mobile-bottom-cta-padding;
  }
}
