<div class="radial-progress">
  <div class="radial-progress__text" [style.width.px]="width" [style.height.px]="width">
    <span class="radial-progress__percentage">{{progress}}%</span>
    <span class="radial-progress__icon"></span>
  </div>
  <svg class="radial-progress__circle" [attr.width]="width" [attr.height]="width" [attr.viewBox]="'0 0 ' + width + ' ' + width">
    <defs>
      <linearGradient id="coffeeGradient" x1="50%" y1="100%" x2="50%" y2="0%">
        <stop offset="0%" stop-color="#BDA07A"></stop>
        <stop offset="100%" stop-color="#8B572A"></stop>
      </linearGradient>
      <linearGradient id="waterGradient" x1="50%" y1="100%" x2="50%" y2="0%">
        <stop offset="0%" stop-color="#51BAEC"></stop>
        <stop offset="100%" stop-color="#214493"></stop>
      </linearGradient>
      <linearGradient id="trashGradient" x1="50%" y1="100%" x2="50%" y2="0%">
        <stop offset="0%" stop-color="#5D8E1B"></stop>
        <stop offset="100%" stop-color="#2B4F0E"></stop>
      </linearGradient>
    </defs>
    <circle [attr.cx]="circleCenter" [attr.cy]="circleCenter" [attr.r]="radius" fill="none" stroke="#979797" stroke-opacity="0.3" [attr.stroke-width]="strokeWidth"></circle>
    <circle [attr.cx]="circleCenter" [attr.cy]="circleCenter" [attr.r]="radius" fill="none" [attr.stroke]="'url(#'+colorType+')'" [attr.stroke-width]="strokeWidth" [attr.stroke-dasharray]="circumference" [attr.stroke-dashoffset]="dashoffset" stroke-linecap="round"></circle>
  </svg>
</div>
