@import '../../shared/styles/colors';
@import '../../shared/styles/fonts';

.radial-progress {
  display: flex;

  &__circle-label {
    font: $font-sc-paragraph;
    color: $color-text-dark;
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__circle {
    display: block;
    transform: rotate(-90deg);
  }
}
