@import '../../shared/styles/colors';
@import '../../shared/styles/dimensions';
@import '../../shared/styles/fonts';

.home {
  min-height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: $mobile-side-margin 1fr 1fr $mobile-side-margin;
  grid-template-rows: auto 1.3fr 1fr 1fr;
  grid-auto-flow: column;
  grid-template-areas:
    ". header header ."
    ". machineinfo machineinfo ."
    ". onecup twocup ."
    ". hotwater analysis .";
  background-color: $color-background-light;

  &__header {
    grid-area: header;
  }

  &__bg-art-top-left {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  &__bg-art-bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 0;
  }

  &__machine-info {
    grid-area: machineinfo;
    text-align: center;
    font: $font-sc-hero;
    color: $color-text-dark;
    align-self: center;
  }

  &__machine-name {
    margin-bottom: 25px;
  }

  &__machine-fill-indicators {
    display: flex;
    justify-content: space-evenly;
  }

  &__one-coffee,
  &__two-coffee,
  &__hot-water,
  &__analysis {
    text-align: center;
    font: $font-sc-subtitle;
    color: $color-text-dark;
    padding: 5%;
  }

  &__one-coffee {
    grid-area: onecup;
    align-self: end;
    background: url("../../../assets/backgrounds/one-cup-bg-inactive.svg") center no-repeat;
    background-size: contain;
    &:hover {
      background: url("../../../assets/backgrounds/one-cup-bg-active.svg") center no-repeat;
      background-size: contain;
    }
  }

  &__two-coffee {
    grid-area: twocup;
    align-self: end;
    background: url("../../../assets/backgrounds/two-cups-bg-inactive.svg") center no-repeat;
    background-size: contain;
    &:hover {
      background: url("../../../assets/backgrounds/two-cups-bg-active.svg") center no-repeat;
      background-size: contain;
    }
  }

  &__hot-water {
    grid-area: hotwater;
    align-self: start;
    background: url("../../../assets/backgrounds/hot-water-bg-inactive.svg") center no-repeat;
    background-size: contain;
    &:hover {
      background: url("../../../assets/backgrounds/hot-water-bg-active.svg") center no-repeat;
      background-size: contain;
    }
  }

  &__analysis {
    grid-area: analysis;
    align-self: start;
    background: url("../../../assets/backgrounds/analysis-bg-inactive.svg") center no-repeat;
    background-size: contain;
    &:hover {
      background: url("../../../assets/backgrounds/analysis-bg-active.svg") center no-repeat;
      background-size: contain;
    }
  }

  &__coffee-icon,
  &__hot-water-icon,
  &__analysis-icon {
    width: 50px;
  }
}
