<div class="home">
  <img class="home__bg-art-top-left" alt="background-art-top-left" src="../../../assets/backgrounds/bg-art-top-left.svg"/>
  <img class="home__logo-secondary" alt="logo-secondary" src="../../../assets/logos/Secondary/Dark.svg"/>
  <img class="home__user-icon" alt="user-icon" src="../../../assets/icons/24/User/Dark.svg"/>
  <div class="home__machine-info">
    <div>Winston</div>
    <img class="home__coffee-indicator" alt="coffee-indicator" src="../../../assets/pictograms/coffee-indicator.svg"/>
    <img class="home__water-indicator" alt="water-indicator" src="../../../assets/pictograms/water-indicator.svg"/>
    <img class="home__trash-indicator" alt="trash-indicator" src="../../../assets/pictograms/tash-indicator.svg"/>
  </div>
  <div class="home__one-coffee">
    one cup
  </div>
  <div class="home__two-coffee">
    two cup
  </div>
  <div class="home__hot-water">
    hot water
  </div>
  <div class="home__analysis">
    analysis
  </div>
  <img class="home__bg-art-bottom" alt="background-art-bottom" src="../../../assets/backgrounds/bg-art-bottom.svg"/>
</div>
