<div class="home">
  <img class="home__bg-art-top-left" alt="background-art-top-left" src="../../../assets/backgrounds/bg-art-top-left.svg"/>
  <app-header class="home__header"></app-header>
  <app-coffee-machine-info class="home__machine-info"></app-coffee-machine-info>
  <div class="home__one-coffee" (click)="navigateToRoute('one-cup-preferences')">
    <img class="home__coffee-icon" alt="coffee-cup" src="../../../assets/icons/24/Cup/Dark.svg"/>
    <div>Eine Tasse</div>
  </div>
  <div class="home__two-coffee" (click)="navigateToRoute('two-cup-preferences')">
    <img class="home__coffee-icon" alt="coffee-cup" src="../../../assets/icons/24/Cup/Dark.svg"/>
    <img class="home__coffee-icon" alt="coffee-cup" src="../../../assets/icons/24/Cup/Dark.svg"/>
    <div>Zwei Tassen</div>
  </div>
  <div class="home__hot-water" (click)="navigateToRoute('hot-water')">
    <img class="home__hot-water-icon" alt="hot-water-steam" src="../../../assets/icons/24/Tap/Dark.svg"/>
    <div>Wasser/Dampf</div>
  </div>
  <div class="home__analysis" (click)="navigateToRoute('analysis')">
    <img class="home__analysis-icon" alt="analysis-icon" src="../../../assets/icons/24/Analysis/Dark.svg"/>
    <div>Statistik</div>
  </div>
  <img class="home__bg-art-bottom" alt="background-art-bottom" src="../../../assets/backgrounds/bg-art-bottom.svg"/>
</div>
