<div class="home">
  <img class="home__bg-art-top-left" alt="background-art-top-left" src="../../../assets/backgrounds/bg-art-top-left.svg"/>
  <app-header class="home__header"></app-header>
  <div class="home__machine-info">
    <div class="home__machine-picker">
      <span class="home__machine-name">Winston</span>
      <span class="home__arrow-down"></span>
    </div>
    <div class="home__machine-fill-indicators">
      <app-radial-progress type="coffee" width="100" progress="90" iconSource="../../../assets/icons/24/Coffeebean/Dark.svg"></app-radial-progress>
      <app-radial-progress type="water" width="100" progress="73" iconSource="../../../assets/icons/24/Drop/Dark.svg"></app-radial-progress>
      <app-radial-progress type="trash" width="100" progress="20" iconSource="../../../assets/icons/24/Trash/Dark.svg"></app-radial-progress>
    </div>
  </div>
  <div class="home__one-coffee">
    <img class="home__coffee-icon" alt="coffee-cup" src="../../../assets/icons/24/Cup/Dark.svg"/>
    <div>Eine Tasse</div>
  </div>
  <div class="home__two-coffee">
    <img class="home__coffee-icon" alt="coffee-cup" src="../../../assets/icons/24/Cup/Dark.svg"/>
    <img class="home__coffee-icon" alt="coffee-cup" src="../../../assets/icons/24/Cup/Dark.svg"/>
    <div>Zwei Tassen</div>
  </div>
  <div class="home__hot-water">
    <img class="home__hot-water-icon" alt="hot-water-steam" src="../../../assets/icons/24/Tap/Dark.svg"/>
    <div>Wasser/Dampf</div>
  </div>
  <div class="home__analysis">
    <img class="home__analysis-icon" alt="analysis-icon" src="../../../assets/icons/24/Analysis/Dark.svg"/>
    <div>Statistik</div>
  </div>
  <img class="home__bg-art-bottom" alt="background-art-bottom" src="../../../assets/backgrounds/bg-art-bottom.svg"/>
</div>
