/*
 * Color collection
 */

/******************************/
/*******  font imports  *******/
/******************************/

$color-primary: #F8E8D4;

$color-background-light: #F5F4F2;
$color-text-dark: #57565C;
$color-coffee: #997055;
$color-link: #1A73E8;

$color-gradient-coffee-start: #BDA07A;
$color-gradient-coffee-end: #8B572A;
$color-gradient-water-start: #51BAEC;
$color-gradient-water-end: #214493;
$color-gradient-trash-start: #5D8E1B;
$color-gradient-trash-end: #2B4F0E;
