/*
 * Margins and paddings for different device sizes
 */

/******************************/
/**********  mobile  **********/
/******************************/

$mobile-side-margin: 16px;
$mobile-bottom-cta-padding: 20px;
