/*
 * Lobster (headlines)
 */
@font-face {
  font-family: 'Lobster';
  src: url('../../../assets/fonts/Lobster/Lobster-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*
 * Cabin (general)
 */
@font-face {
  font-family: 'CabinBold';
  src: url('../../../assets/fonts/Cabin/Cabin-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Bold Italic */
@font-face {
  font-family: 'CabinBoldItalic';
  src: url('../../../assets/fonts/Cabin/Cabin-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: 'CabinItalic';
  src: url('../../../assets/fonts/Cabin/Cabin-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: 'CabinMedium';
  src: url('../../../assets/fonts/Cabin/Cabin-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Medium Italic */
@font-face {
  font-family: 'CabinMediumItalic';
  src: url('../../../assets/fonts/Cabin/Cabin-MediumItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Regular */
@font-face {
  font-family: 'CabinRegular';
  src: url('../../../assets/fonts/Cabin/Cabin-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Semi Bold */
@font-face {
  font-family: 'CabinSemiBold';
  src: url('../../../assets/fonts/Cabin/Cabin-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Semi Bold Italic */
@font-face {
  font-family: 'CabinSemiBoldItalic';
  src: url('../../../assets/fonts/Cabin/Cabin-SemiBoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
