@import '../../shared/styles/colors';
@import '../../shared/styles/fonts';

.default {
  width: 167px;
  height: 48px;
  border-radius: 500px;
  color: $color-background-light;
  background-color: $color-button-coffee;
  font: $font-sc-button-1;
  text-align: center;
}
