@import '../../shared/styles/colors';
@import '../../shared/styles/fonts';


//TODO: replace div drawn buttons with svg, fucking width breaks everything on smaller devices
.sc-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 155px;
  max-width: 163px;
  height: 44px;
  border-radius: 500px;
  border: 2px solid $color-button-coffee;
  margin-left: 2px;
  margin-right: 2px;

  &--default {
    color: $color-background-light;
    background-color: $color-button-coffee;
    font: $font-sc-button-1;
    text-align: center;

    &:hover {
      cursor: pointer;
      background-color: darken($color-button-coffee, 10%);
      border: 2px solid darken($color-button-coffee, 10%);
    }
  }

  &--ghost {
    color: $color-button-coffee;
    background-color: $color-background-light;
    font: $font-sc-button-1;
    text-align: center;

    &:hover {
      cursor: pointer;
      color: darken($color-button-coffee, 10%);
      border: 2px solid darken($color-button-coffee, 10%);
    }
  }
}
