@import '../../shared/styles/colors';
@import '../../shared/styles/dimensions';
@import '../../shared/styles/fonts';

$width: 300px;

.sc-text-input {
  width: $width;
  &__group {

    width: 100%;
    height: $font-lnheight-input-1+$font-lnheight-input-2;
    overflow: hidden;
    position: relative;
  }

  &__bar {
    display: block;
    background: rgba($color-button-coffee, .2);
    content: '';
    width: $width;
    height: $width/150;
    transition: .3s ease;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 150%;
      background: $color-button-coffee;
      transform: translateX(-100%);

    }
  }
}

label {
  position: absolute;
  top: $font-size-input-1;
  color: rgba($color-button-coffee, .5);
  font: $font-sc-input-1;
  cursor: text;
  transition: .25s ease;
}

input {
  display: block;
  width: 100%;
  padding-top: $font-size-input-1+5px;
  border: none;
  border-radius: 0; // For iOS
  color: $color-text-dark;
  background: transparent;
  font-size: $font-size-input-1;
  transition: .3s ease;
  &:valid {
    ~label {
      top: 0;
      font: $font-sc-input-2;
      color: rgba($color-button-coffee, .5);
    }
  }
  &:focus {
    outline: none;
    ~label {
      top: 0;
      font: $font-sc-input-2;
      color: $color-button-coffee;
    }

    ~ .bar:before {
      transform: translateX(0);
    }
  }

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    -webkit-text-fill-color: transparent !important;
  }
}
